/*
Theme Name: Fitness Style
Author: Victor Tihai
Author URI: http://wplook.com/
Description: Premium HTML template for Fitness.
Version: 1.0.0
License: GNU General Public License
License URI: license.txt
Tags: black, blue, green, orange, pink, red, white, two-columns, right-sidebar, fixed-width, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, front-page-post-form, microformats, post-formats, sticky-post, theme-options, threaded-comments, translation-ready, blavatar
*/

@import url(http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,greek-ext,greek,vietnamese,latin-ext,cyrillic,cyrillic-ext);

/*-----------------------------------------------------------------------------------*/
/*	Reset default browser CSS.
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	Based on work by Eric Meyer and html5doctor.com
/*-----------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}


/*-----------------------------------------------------------------------------------*/
/*	Remember to define focus styles!
/*-----------------------------------------------------------------------------------*/

:focus {
	outline: 0;
}

body {
	background: #f3f3f3;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

ol, ul {
	list-style: none;
}


/*-----------------------------------------------------------------------------------*/
/*	Tables still need 'cellspacing="0"' in the markup
/*-----------------------------------------------------------------------------------*/

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	font-weight: normal;
	text-align: left;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

a img {
	border: 0;
}

img {
	vertical-align: middle;
}


/*-----------------------------------------------------------------------------------*/
/*	Alignment
/*-----------------------------------------------------------------------------------*/

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/*-----------------------------------------------------------------------------------*/
/*	Global
/*-----------------------------------------------------------------------------------*/

body, input, textarea {
	color: #494f5c;
	font-family: 'Arimo', sans-serif;
	line-height: 1.5;
}

.clear{
	clear: both;
}

.fleft{
	float: left;
}

.right,
div.right,
a.right {
	float: right;
}

*{
	box-sizing: border-box;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
 }


/*-----------------------------------------------------------------------------------*/
/*	Headings
/*-----------------------------------------------------------------------------------*/

h1,h2,h3,h4,h5,h6 {
	font-family: 'Open Sans', sans-serif;
	color: #F65E13;
}

h1 { font-size: 24px; }
h2 { font-size: 22px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

hr {
	background-color: #ffffff;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}


/*-----------------------------------------------------------------------------------*/
/*	Text elements
/*-----------------------------------------------------------------------------------*/

p {
	font-size: 14px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 2.5em;
}

ul {
	list-style: disc;
	font-size: 14px;
}

ol {
	list-style-type: decimal;
}

ol ol {
	list-style: upper-alpha;
}

ol ol ol {
	list-style: lower-roman;
}

ol ol ol ol {
	list-style: lower-alpha;
}

ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}

dl {
	margin: 0 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 1.5em;
}

strong {
	font-weight: bold;
}

cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 20px;
	padding: 0 10px;
	border-left: 5px solid #F65E13;
}

blockquote em, blockquote i, blockquote cite, blockquote p {
	font-style: normal;
	font-size: 18px;
}

pre {
	background: #f4f4f4;
	font: 13px "Courier 10 Pitch",Courier,monospace;
	line-height: 1.5;
	margin-bottom: 1.5em;
	padding: 0.75em 1.5em;
}

code, kbd {
	font: 13px Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}
input[type=email], input[type=text], textarea {
	border: 1px solid #a2a2ad;
	border-radius: 2px;
	font-size: 14px;

}

textarea {
	padding: 5px 10px;
	width: 98%;
}

input[type=email], input[type=text] {
	height: 30px;
	padding: 3px 10px;
	width: 98%;
}

#contact-form{
	margin: 20px 0;
}

#contact-form #submit {
	padding: 10px 30px;
	background: #F65E13;
	border: 0;
	border-radius: 2px;
	color: #ffffff;
	cursor: pointer;
	font-size: 14px;
}

/*-----------------------------------------------------------------------------------*/
/*	Links
/*-----------------------------------------------------------------------------------*/

a {
	color: #F65E13;
	text-decoration: none;
}

/*
a:visited {
	color: #333;
} */

a:focus,
a:active,
a:hover {
	color: #F65E13;
}


/*-----------------------------------------------------------------------------------*/
/*	Text meant only for screen readers
/*-----------------------------------------------------------------------------------*/

.screen-reader-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}


/*-----------------------------------------------------------------------------------*/
/*	Structure
/*-----------------------------------------------------------------------------------*/

#page {
	position: absolute;
	width: 100%;
}

.page-decoration {
	position: relative;
	/*min-height: 350px;*/
}

.decoration {
	width: 100%;
	max-height: 350px;
	overflow: hidden;
}

.decoration img {
	width: 100%;
	height: auto;
}

.first-widget-area {
	margin: 20px auto!important;
}

.second-widget-area {
	width: 100%;
	padding: 20px 0;
	background: #ffffff;
}

.btn {
	display: inline-block;
	padding: 12px 35px;
	font-size: 16px;
	color: #F65E13;
	text-decoration: none;
	border: 2px solid #ffffff;
	background: #ffffff;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.btn:hover {
	background: none;
	color: #ffffff;
}

.page {
	margin-top: -80px;
	overflow: hidden;
}


.page-header {
	position: relative;
	min-height: 60px;
	padding: 15px 20px;
	background-color: rgba(246,94,19,0.80);
}

.page-content {
	padding: 20px 0;
	overflow: hidden;
	background: #fff;
}

.page-header .title,
.widget-header .title {
	display: inline-block;
	font-size: 24px;
	line-height: 27px;
	color: #ffffff;
}

.page.list .item,
.page.single .item {
	margin: 20px 0;
	float: left;
}

/*-----------------------------------------------------------------------------------*/
/*	404 Error page
/*-----------------------------------------------------------------------------------*/

.title-404{
	text-align: center;
	font-size: 172px;
	margin-top: 100px;
}

.description-404 {
	text-align: center;
	font-size: 24px;
	margin-bottom: 200px;
}
/*-----------------------------------------------------------------------------------*/
/*	Sidebar
/*-----------------------------------------------------------------------------------*/

.sidebar .widget {
	width: 100%;
	float: left;
	margin: 20px 0;
}


/*-----------------------------------------------------------------------------------*/
/*	Header
/*-----------------------------------------------------------------------------------*/

.site-header {
	position: absolute;
	width: 100%;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(255,255,255,0.75) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(11%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.75)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 11%,rgba(255,255,255,0.75) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 11%,rgba(255,255,255,0.75) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 11%,rgba(255,255,255,0.75) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 11%,rgba(255,255,255,0.75) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bfffffff',GradientType=0 );
	border-top: 5px solid #F65E13;
	color: #a0a0a0;
	z-index: 100;
}

.branding {
	margin-top: 15px!important;
}

.logo {
	background: #F65E13;
	margin: -15px 20px 0 0;
	padding: 15px 0 0 0;
}

#site-title a {
	font-size: 24px;
	color: #F65E13;
	text-decoration: none;
}

#site-description {
	color: #a0a0a0;
	font-size: 16px;
}

.language-menu {
	list-style: none;
	margin-bottom: 10px;
}

.language-menu li {
	position: relative;
	display: inline-block;
}

.language-menu a{
	padding: 15px 5px 5px 5px;
	font-size: 14px;
	color: #a0a0a0;
	display: block;
	text-decoration: none;
}

.language-menu a.current,
.language-menu a:hover {
	background: #F65E13;
	color: #ffffff;
}

.language-menu a.current:after {
	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: -8px;
	content: "\e7c5";
	color: #ffffff;
	font-size: 16px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.callus {
	text-align: right;
}
.callus a {
	color: #a0a0a0;
}
/*-----------------------------------------------------------------------------------*/
/*	Slider
/*-----------------------------------------------------------------------------------*/
.flexslider {
	overflow: hidden;
}

.flexslider.loading {
	background: #fff url("images/ajax-loader.gif") no-repeat center center;
	min-height: 600px;
}

.flex-caption {
	position: absolute;
	width: 100%;
	top: 30%;
}

.loading .flex-caption {
	display: none;
}

.flex-content {
	margin-left: 40px;
	padding: 40px;
	background: rgba(246, 94, 19, 0.75);
	color: #ffffff;
}

.flex-content h1 {
	color: #ffffff;
	font-size: 30px;
	font-weight: 700;
}

.flex-content p {
	font-size: 18px;
	line-height: 30px;
}

.flex-active-slide .flex-content {
	-moz-animation: bounceInUp 1s;
	-webkit-animation: bounceInUp 1s;
	animation: bounceInUp 1s;
}


/*-----------------------------------------------------------------------------------*/
/*	Slider Pagination
/*-----------------------------------------------------------------------------------*/



.testimonials .flex-control-paging a {
	width: 20px;
	height: 4px;
	background: #000000;
}

.testimonials .flex-control-paging a.flex-active {
	background: #F65E13;
}

.testimonials .flex-control-paging {
	width: 90px;
	top: 170px;
	left: 0;
	margin: 0;
}

.testimonials .flex-control-paging li { margin: 0 10px 10px 0; }


/*-----------------------------------------------------------------------------------*/
/*	Slider Navigation
/*-----------------------------------------------------------------------------------*/




/*-----------------------------------------------------------------------------------*/
/*	Breadcrumbs
/*-----------------------------------------------------------------------------------*/

.breadcrumbs {
	margin: 0;
	font-size: 10px;
	line-height: 25px;
}

.breadcrumbs a {
	color: #a0a0a0;
	text-transform: uppercase;
}

.breadcrumbs a:hover {
	color: #F65E13;
}


/*-----------------------------------------------------------------------------------*/
/*	Menu
/*-----------------------------------------------------------------------------------*/

.main-menu-section {
	position: relative;
	background: #ffffff;
	background: rgba(255, 255, 255, 0.80);
	border-top: 1px solid #bfc6cd;
	border-bottom: 1px solid #bfc6cd;
	font-family: 'Open Sans', sans-serif;
}

.main-menu-section > div {
	position: relative;
}

.site-navigation ul {
	list-style: none;
	font-size: 14px;
	margin: 0;
}

.site-navigation ul li {
	position: relative;
	display: inline-block;
	border-top: 1px solid #ffffff;
	border-top: 1px solid rgba(255, 255, 255, 0.0);
	transition: background 0.2s;
	-moz-transition: background 0.2s;
	-webkit-transition: background 0.2s;
	-o-transition: background 0.2s;
}

.site-navigation > ul li:hover {
	border-top: 1px solid #F65E13;
	background: #ffffff;
}

.site-navigation li a {
	display: block;
	padding: 14px 20px;
	color: #a0a0a0;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
}

.site-navigation li a:hover {
	color: #F65E13;
}

.site-navigation ul.sub-menu {
	display: none;
	position: absolute;
	top: 49px;
	left: 0;
	width: auto;
	min-width: 200px;
	z-index: 99999 !important;
	background: #ffffff;
} 

.site-navigation ul > li ul.sub-menu {
	border-top: 1px solid #bfc6cd;
}

.site-navigation li:hover > ul.sub-menu {
	display: block;
	-moz-animation: bounceIn 0.2s;
	-webkit-animation: bounceIn 0.2s;
	animation: bounceIn 0.2s;
}

.site-navigation ul.sub-menu li {
	width: 100%;
	border-top: 1px solid #bfc6cd;
}

.site-navigation ul.sub-menu li:first-child {
	border: 0;
}

.site-navigation ul.sub-menu li:hover {
	background: #fafafa;
}

.site-navigation ul.sub-menu ul.sub-menu {
	left: 200px;
	top: 0;
}

/*-----------------------------------------------------------------------------------*/
/*	Mean Menu
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------*/
/*	hide the link until viewport size is reached
/*-----------------------------------------------------------*/

a.meanmenu-reveal {
	display: none;
	left: 0!important;
	right: auto!important;
}

/*-----------------------------------------------------------*/
/*	when under viewport size, .mean-container is added to body
/*-----------------------------------------------------------*/

.mean-container .mean-bar {
	position: relative;
	min-height: 42px;
	z-index: 80;
}

.mean-container a.meanmenu-reveal {
	width: 22px;
	height: 22px;
	padding: 13px 13px 11px 13px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	color: #F65E13;
	text-decoration: none;
	font-size: 16px;
	text-indent: -9999em;
	line-height: 22px;
	font-size: 1px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
}

.mean-container a.meanmenu-reveal span {
	display: block;
	background: #a0a0a0;
	height: 3px;
	margin-top: 3px;
}

.mean-container .mean-nav {
	width: 100%;
	padding-top: 50px;
	overflow: hidden;
}

.mean-container .mean-nav ul {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
}

.mean-container .mean-nav ul li {
	position: relative;
	float: left;
	width: 100%;
}

.mean-container .mean-nav ul li a {
	display: block;
	float: left;
	width: 100%;
	padding: 14px 20px;
	margin: 0;
	font-size: 14px;
	color: #a0a0a0;
	border-top: 1px solid #bfc6cd;
	text-decoration: none;
	text-transform: uppercase;
}

.mean-container .mean-nav ul li li a {
	width: 100%;
	padding: 14px 40px;
	border-top: 1px solid #bfc6cd;
	visibility: visible;
}

.mean-container .mean-nav ul li.mean-last a {
	border-bottom: none;
	margin-bottom: 0;
}

.mean-container .mean-nav ul li li li a {
	width: 100%;
	padding: 14px 60px;
}

.mean-container .mean-nav ul li li li li a {
	width: 100%;
	padding: 14px 80px;
}

.mean-container .mean-nav ul li li li li li a {
	width: 50%;
	padding: 14px 100px;
}

.mean-container .mean-nav ul li a:hover {
	background: #fafafa;
	color: #F65E13;
}

.mean-container .mean-nav ul li a.mean-expand {
	margin-top: 1px;
	width: 25px;
	height: 25px;
	padding: 12px !important;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	font-weight: 700;
	background: none;
	border: none;
}

.mean-container .mean-nav ul li a.mean-expand:hover {
	background: #F65E13;
	color: #ffffff;
}

.mean-container .mean-push {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	clear: both;
}

.mean-container .search-form {
	right: 20px;
}

.mean-nav .wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}

.mean-container .mean-bar {
	margin: 0 20px;
}

/*-----------------------------------------------------------*/
/*	Fix for box sizing on Foundation Framework etc.
/*-----------------------------------------------------------*/

.mean-container .mean-bar, .mean-container .mean-bar * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.mean-remove { display: none !important; }

/*-----------------------------------------------------------*/
/*	Search Form
/*-----------------------------------------------------------*/

.search-form {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	overflow: hidden;
	margin-right: 1px;
	z-index: 100;
}

.search-form.active{
	width: 250px;
	margin-right: 0;
	background: #ffffff;
	border-left: 1px solid #bfc6cd;
	border-right: 1px solid #bfc6cd;
}

.search-form > a {
	cursor: pointer;
	display: block;
	width: 50px;
	height: 37px;
	float: right;
	padding-top: 13px;
	text-align: center;
	color: #a0a0a0;
}

.header-search-form .search-button {
	display: none;
}

.active .header-search-form{
	display: block;
	-moz-animation: bounceInLeft 1s;
	-webkit-animation: bounceInLeft 1s;
	animation: bounceInLeft 1s;
}

.header-search-form{
	display: none;
	position: absolute;
	right: 50px;
	top: 0;
	width: 200px;
}

.header-search-form input {
	width: 180px;
	height: 50px;
	padding: 5px 10px;
	color: #a0a0a0;
	font-size: 14px;
	border: 0 none;
}


/*-----------------------------------------------------------*/
/*	Announcement
/*-----------------------------------------------------------*/

.announcement {
	padding: 5px 0;
	border-top: 1px solid #ffffff;
	background-color: #F65E13;
	background-image: url('images/pattern.png');
	background-repeat: repeat;
	overflow: hidden;
}

.announcement h1{
	line-height: 48px;
	color: #ffffff;
	font-size: 24px;
}


/*-----------------------------------------------------------------------------------*/
/*	Content
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------*/
/*	List Style
/*-----------------------------------------------------------*/

.list .item-image:before,
.single .item-image:before {
	position: absolute;
	width: 400px;
	height: 400px;
	left: -200px;
	bottom: -200px;
	content: " ";
	background-color: #F65E13;
	background-image: url('images/pattern.png');
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 50;
}

.list .item-meta,
.single .item-meta {
	position: relative;
	width: 100%;
	padding: 15px 30px;
	background-color: #F65E13;
	background-image: url('images/pattern.png');
	text-align: right;
	z-index: 80;
}

.list .item-meta:before,
.single .item-meta:before {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 7px solid rgba(0, 0, 0, 0);
	border-right: 7px solid rgba(0, 0, 0, 0);
	border-bottom: 7px solid #F65E13;
	top: -7px;
	content: " ";
	right: 35px;
	margin-left: -5px;
}

.list .item-image:after,
.single .item-image:after {
	position: absolute;
	width: 400px;
	height: 400px;
	right: -200px;
	top: -200px;
	content: " ";
	background-color: #F65E13;
	background-image: url('images/pattern.png');
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.list .item-more,
.single .item-more {
	margin: 0 0 0 10px;
}

.list .item .overlay h3,
.single .item .overlay h3 {
	bottom: 55px;
	font-size: 24px;
}

.list .item:nth-child(2n+1) .item-image:before { top: -200px; bottom: auto; }
.list .item:nth-child(2n+1) .item-image:after { bottom: -200px; top: auto; }
.list .item:nth-child(2n+1) .item-meta:before { left: 40px; }
.list .item:nth-child(2n+1) .item-meta { text-align: left; }
.list .item:nth-child(2n+1) .read-more { float: left; margin: 0 10px 0 0; }
.list .item:nth-child(2n+1) .overlay h3 { text-align: left; }

.single .item:nth-child(2n+1) .item-image:before { top: -200px; bottom: auto; }
.single .item:nth-child(2n+1) .item-image:after { bottom: -200px; top: auto; }
.single .item:nth-child(2n+1) .item-meta:before { left: 40px; }
.single .item:nth-child(2n+1) .item-meta { text-align: left; }
.single .item:nth-child(2n+1) .read-more { float: left; margin: 0 10px 0 0; }
.single .item:nth-child(2n+1) .overlay h3 { text-align: left; }


/*-----------------------------------------------------------*/
/*	Classes
/*-----------------------------------------------------------*/

.classes.grid .item .overlay { min-height: 44px; }
.classes.list .item-meta,
.classes.single .item-meta { position: absolute; bottom: 0; }
.classes.list .overlay,
.classes.single .overlay { min-height: 105px; }


.progday{
	float: left;
	text-align: center;
}

.pday {
	border-bottom: 1px solid #bfc6cd;
	font-weight: bold;
	width: 102px;
	background: #f3f3f3;
}
.timehour{
	background: #f3f3f3;
	-moz-box-shadow: 0 0 1px #bfc6cd;
	-webkit-box-shadow: 0 0 1px #bfc6cd;
	box-shadow: 0 0 1px #bfc6cd;
	margin: 10px 0;
	font-size: 13px;
}
/*-----------------------------------------------------------*/
/*	News
/*-----------------------------------------------------------*/

.news.grid .widget-content {
	margin: 20px -20px;
}

.news.grid .page-content {
	padding-bottom: 120px;
	margin: 0 -20px;
}

.news .item { background: #fff6f1; }

.news.grid .read-more {
	margin: 0 5px 0 0;
}

a.load-more {
	position: absolute;
	bottom: 40px;
	display: block;
	width: 100%;
	padding: 15px 20px;
	background-color: #F65E13;
	background-image: url('images/pattern.png');
	color: #ffffff;
	text-align: center;
	font-size: 12px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.navigation {
	float: left;
	width: 100%;
	margin: 20px 0;
	list-style: none;
	background-image: url('images/pattern.png');
	background-repeat: repeat;
	background-color: #F65E13;
}

.navigation li {
	transition: background 0.2s;
	-moz-transition: background 0.2s;
	-webkit-transition: background 0.2s;
	-o-transition: background 0.2s;
}

.navigation-prev,
.navigation-next { padding: 20px; }
.navigation li:hover { background-color: rgba(255, 255, 255, 0.1); }


.navigation-text { 
	color: #ffffff; 
	text-transform: uppercase; 
	font-size: 12px;
	line-height: 25px; 
}

.navigation-text:hover {
	color: #ffffff;
}

.navigation-prev { display: block; float: left; }
.navigation-next { display: block; float: right; }


/*-----------------------------------------------------------------------------------*/
/*	Attachments
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	Images
/*-----------------------------------------------------------------------------------*/

a img {
	border: none;
}

p img {
	margin-bottom: 0.5em; /* a small bottom margin prevents content floating under images */
}


/*-----------------------------------------------------------------------------------*/
/*	Resize images to fit the main content area.
/*	 - Applies only to images uploaded via WordPress by targeting size-* classes.
/*	 - Other images will be left alone. Use "size-auto" class to apply to other images.
/*-----------------------------------------------------------------------------------*/

img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-area img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	/* height: auto;  */  /* Override height to match resized width for correct aspect ratio. */
}

img.alignleft {
	margin-right: 1.5em;
}

img.alignright {
	margin-left: 1.5em;
}

.wp-caption {
	padding: .5em;
	text-align: center;
}

.wp-caption img {
	margin: .25em;
}

.wp-caption .wp-caption-text {
	margin: .5em;
}

.gallery-caption {
}

.wp-smiley {
	margin: 0;
}


/*-----------------------------------------------------------------------------------*/
/*	Navigation
/*-----------------------------------------------------------------------------------*/

#primary nav {
	clear: both;
	overflow: hidden;
	margin: 0 0 1.5em;
}

.nav-previous {
	float: left;
	width: 50%;
}

.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}


/*-----------------------------------------------------------------------------------*/
/*	Widgets
/*-----------------------------------------------------------------------------------*/

.widget {
	background: #ffffff;
	overflow: hidden;
}


.widget-header {
	position: relative;
	padding: 15px 20px;
	background-color: #F65E13;
	background-image: url('images/pattern.png');
}

.widget-content {
	margin: 20px 0;
	overflow: hidden;
}

.grid_12 .classes.grid .item:nth-child(3n+1) { margin-left: 0; }
.grid_12 .classes.grid .item:nth-child(3n+3) { margin-right: 0; }

.grid_8 .classes.grid .item:nth-child(2n+1) { margin-left: 0; }
.grid_8 .classes.grid .item:nth-child(2n+2) { margin-right: 0; }

.grid_4 .classes.grid .item { margin-left: 0; margin-right: 0; }

.item img {
	width: 100%;
}

.item-title {
	display: block;
	padding: 20px 20px 10px 20px;
}

.item-title h3 {
	font-size: 18px;
}

.item > p {
	padding: 0 20px;
}

.item-meta {
	position: relative;
	margin: 0;
	padding: 9px 10px;
	background-color: #F65E13;
	line-height: 25px;
	background-image: url('images/pattern.png');
	list-style: none;
}

.item-meta:before {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 7px solid rgba(0, 0, 0, 0);
	border-right: 7px solid rgba(0, 0, 0, 0);
	border-bottom: 7px solid #F65E13;
	top: -7px;
	content: " ";
	right: 20px;
	margin-left: -5px;
}

.meta-info {
	display: inline-block;
	margin-left: 6px;
	text-transform: uppercase;
	font-size: 12px;
	color: #ffffff;
}

.meta-info > a,
.meta-info > span,
.meta-info > time {
	color: #ffffff;
	padding: 5px 10px;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.meta-info > a:hover,
.ui-tabs-active > a{
	color: #494f5c;
	background: #ffffff;
	border-radius: 2px
}

.read-more {
	float: right;
	margin: 0 0 0 10px;
}

.read-more .item-more {
	margin: 0;
}

.item-more {
	display: block;
	width: 25px;
	height: 25px;
	margin-right: 5px;
	padding: 3px 0 0 4px;
	border: 2px solid #FFFFFF;
	background: #ffffff;
	border-radius: 20px;
	color: #717f8d;
	text-align: left;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.item-more:hover { background: none; color: #ffffff; }

.item-more.icon-arrow-left { padding: 3px 0 0 2px; margin: 0 10px 0 0; }
.item-more.icon-arrow-right { float: right; }
.navigation-prev .item-more.icon-arrow-left { float: left; }

.item-image {
	display: block;
	position: relative;
	overflow: hidden;
}

.item-image:before{
	position: absolute;
	width: 200px;
	height: 200px;
	left: -100px;
	bottom: -100px;
	content: " ";
	background-color: #F65E13;
	background-image: url('images/pattern.png');
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 50;
}

.item-image:after{
	position: absolute;
	width: 200px;
	height: 200px;
	right: -100px;
	top: -100px;
	content: " ";
	background-color: #F65E13;
	background-image: url('images/pattern.png');
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 50;
}

.item .overlay {
	position: absolute;
	display: block;
	width: 100%;
	height: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.75);
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s; 
}

.item-image:hover .overlay {
	height: 100%;
	background-image: url('images/cross.png');
	background-repeat: no-repeat;
	background-position: center center;
}

.item .overlay h3 {
	position: absolute;
	display: block;
	bottom: 0;
	width: 100%; 
	padding: 10px 20px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: right;
}

.item-content {
	margin: 40px 20px;
}

.widget-header:after,
.footer-navigation:after {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 7px solid rgba(0, 0, 0, 0);
	border-right: 7px solid rgba(0, 0, 0, 0);
	border-top: 7px solid #F65E13;
	bottom: -7px;
	content: " ";
	left: 40px;
	margin-left: -5px;
}

.view-all {
	display: block;
	margin-top: 2px;
	padding: 3px 0 0 4px;
	width: 25px;
	height: 25px;
	border: 2px solid #FFFFFF;
	border-radius: 20px;
	color: #FFFFFF;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.view-all:hover { background: #ffffff; color: #F65E13; }


/*-----------------------------------------------------------*/
/*	List Widget
/*-----------------------------------------------------------*/

.widget ul {
	list-style: none;
	margin: 0;
}

.widget ul li {
	border-top: 1px solid #eeeeee;
	font-size: 15px;
	color: #494f5c;
	transition: background 0.2s;
	-moz-transition: background 0.2s;
	-webkit-transition: background 0.2s;
	-o-transition: background 0.2s;
}

.widget ul li:hover {
	background: #f3f3f3;
}

.widget ul li:first-child {
	border: 0;
}

.widget ul li a,
.widget ul li span {
	padding: 18px 20px;
	font-size: 15px;
	color: #494f5c;
	display: block;
	cursor: pointer;
}


/*-----------------------------------------------------------*/
/*	vCard Widget
/*-----------------------------------------------------------*/

.vcard {
	margin: 15px 20px;
}

.vcard-name {
	font-size: 18px;
	color: #F65E13;
	font-weight: bold;
}

.vcard span {
	font-size: 14px;
	color: #494f5c;
}

/*-----------------------------------------------------------*/
/*	Text Widget
/*-----------------------------------------------------------*/

.textwidget {
	margin: 15px 20px;
	font-size: 14px;
	line-height: 175%;
}

/*-----------------------------------------------------------*/
/*	Social Widget
/*-----------------------------------------------------------*/

.share-items {
	margin: 30px 10px 10px 10px;
	float: left;
}

.share-items a {
	float: left;
	margin: 0 10px 20px 10px;
	text-align: center;
	width: 46px;
	height: 46px;
	padding-top: 12px;
	font-size: 22px;
	color: #494f5c;
	text-decoration: none;
	border-radius: 24px;
	border: 1px solid #494f5c;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}


/*-----------------------------------------------------------*/
/*	Social Widget
/*-----------------------------------------------------------*/

.share-items a:hover{ 
	color: #ffffff;
}

.share-items .icon-facebook:hover { background: #3A589B; border-color: #3A589B; }
.share-items .icon-twitter:hover { background: #19BFE8; border-color: #19BFE8; }
.share-items .icon-google-plus:hover { background: #D64136; border-color: #D64136; }
.share-items .icon-pinterest:hover { background: #F65E13; border-color: #F65E13; }
.share-items .icon-foursquare:hover { background: #106bb5; border-color: #106bb5; }
.share-items .icon-vimeo:hover { background: #AAD450; border-color: #AAD450; }
.share-items .icon-youtube:hover { background: #F65E13; border-color: #F65E13; }
.share-items .icon-flickr:hover { background: #ff0084; border-color: #ff0084; }
.share-items .icon-feed:hover { background: #ff9900; border-color: #ff9900; }
.share-items .icon-location:hover { background: #494f5c; border-color: #494f5c; }
.share-items .icon-linkedin:hover { background: #D64136; border-color: #D64136; }


/*-----------------------------------------------------------*/
/*	Business Hours Widget
/*-----------------------------------------------------------*/

.widget li b {
	float: right;
}


/*-----------------------------------------------------------*/
/*	Tag Cloud 
/*-----------------------------------------------------------*/

.tagcloud {
	margin: 20px 10px 10px 20px;
	overflow: hidden;
}

.tagcloud a {
	display: block;
	float: left;
	margin: 0 10px 10px 0;
	padding: 10px 20px;
	background: #F65E13;
	color: #ffffff;
	font-size: 14px;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.tagcloud a:hover {
	background: #F3F3F3;
	color: #494f5c;
}


/*-----------------------------------------------------------*/
/*	Testimonials
/*-----------------------------------------------------------*/

.testimonials .widget-content { margin: 20px 0 0 0; }

.testimonial-avatar {
	float: left;
	margin: 0 20px 0 0;
	border-radius: 40px;
	overflow: hidden;
}

.testimonial-content { margin-left: 100px; }
.testimonial-content h3 { font-size: 18px; }
.testimonial-content time { font-size: 14px; color: #a0a0a0; }
.testimonials ul li { border: none; }
.testimonials ul li:hover { background: none; }
.testimonials .flex-direction-nav { display: none; }


/*-----------------------------------------------------------*/
/*	Membership Table
/*-----------------------------------------------------------*/

.table {
	margin: 20px 0 0 0;
}

.table-col {
	float: left;
	width: 25%;
	text-align: center;
	border-right: 1px solid #BFC6CD;
	border-bottom: 1px solid #BFC6CD;
	border-left: 1px solid #BFC6CD;
	margin-left: -1px;
	border-top: 1px solid #BFC6CD;
	margin-bottom: 20px;

}

.table-col.featured {
	background-color: #F65E13;
	background-image: url('images/pattern.png');
	background-repeat: repeat;
}

.table-col.featured .table-title,
.table-col.featured .table-features li { color: #ffffff; }
.table-col.featured .table-info { background: #ffffff; color: #F65E13; }
.table-col.featured .table-info:before { border-bottom-color: #ffffff;}

.table-title {
	padding: 20px;
	font-size: 24px;
	font-weight: 700;
}

.table-info {
	position: relative;
	padding: 22px 20px;
	font-size: 24px;
	color: #ffffff;
	background-color: #F65E13;
	background-image: url('images/pattern.png');
	background-repeat: repeat;
}

.table-info:before {
	position: absolute;
	width: 0;
	height: 0;
	margin-left: -10px;
	border-left: 7px solid rgba(0, 0, 0, 0);
	border-right: 7px solid rgba(0, 0, 0, 0);
	border-bottom: 7px solid #F65E13;
	top: -7px;
	content: " ";
	left: 50%;
	margin-left: -5px;
}


.table-features {
	list-style: none;
	margin: 0;
}

.table-features > li {
	padding: 14px 20px;
	border-top: 1px solid #BFC6CD;
	font-size: 14px;
	color: #494f5c;
}


/*-----------------------------------------------------------------------------------*/
/*	Single Page
/*-----------------------------------------------------------------------------------*/

.single .item-meta {
	z-index: 100;
}

.single.page .page-content {
	margin: 0px;
	padding:20px;
}

.single.page .page-content p {
	font-size: 14px;
	line-height: 25px;
}

.page.classes.single .page-content,
.page.news.single .page-content{ 
	margin: 0;
	padding: 20px 0;
}

.page.single .page-content.singlepage {
	padding: 0px 0;
}
.item-image-page img {
	margin-top: 40px;
	width: 100%;
	height: auto;
}

/*-----------------------------------------------------------------------------------*/
/*	Comments
/*-----------------------------------------------------------------------------------*/

.comments {
	padding: 20px;
	background: #ffffff;
}


.comments-header {
	margin-bottom: 40px;
}

.comments-header a {
	text-decoration: underline;
}

.comments-list {
	margin: 0;
}

.comments ul {
	list-style: none;
}

.comment {
	padding: 20px 0 0 0;
	border-top: 1px solid #bfc6cd;
}

.comments-list > .comment:first-child {
	padding: 0;
	border: 0;
}

.comment-gravatar {
	margin: 0 20px 0 0;
}

.comment-author {
	display: inline;
	color: #494f5c;
	font-size: 18px;
}

.comment .says {
	font-size: 18px;
}

.comment-date {
	display: block;
	font-size: 12px;
	color: #a0a0a0;
}

.comment-body {
	margin: 10px 0 0 70px;
}

.comment .children {
	margin: 0 0 0 70px;
}

#respond {
	margin-top: 40px;
}

#respond .comment-notes {
	font-size: 14px;
	color: #747373;
}

#respond .form-label {
	display: block;
	float: left;
	width: 150px;
}

#respond textarea#comment {
	max-width: 570px;
}

#respond .required {
	color: #F65E13;
}

#respond #submit {
	padding: 10px 30px;
	background: #F65E13;
	border: 0;
	border-radius: 2px;
	color: #ffffff;
	cursor: pointer;
}

.comment-reply-link {
	display: block;
	padding: 4px 25px;
	border: 1px solid #bfc6cd;
	color: #a0a0a0;
	text-transform: uppercase;
	font-size: 14px;
	transition: background 0.2s;
	-moz-transition: background 0.2s;
	-webkit-transition: background 0.2s;
	-o-transition: background 0.2s;
}

.comment-reply-link:hover {
	color: #ffffff;
	background: #F65E13;
	border-color: #F65E13;
}


/*-----------------------------------------------------------------------------------*/
/*	Footer
/*-----------------------------------------------------------------------------------*/

.site-footer {
	padding-top: 20px;
	background-color: #494f5c;
	background-image: url('images/pattern.png');
	background-repeat: repeat;
	overflow: hidden;
}

.site-info {
	background: #ffffff;
	color: #717f8d;
	font-size: 14px;
}

.site-info span{
	margin: 0 20px;
}

.site-info a {
	text-decoration: underline;
	color: #717f8d;
}

.footer-navigation {
	background: #F65E13;
}

.footer-navigation ul {
	margin: 0;
	list-style: none;
}

.footer-navigation ul li {
	display: inline-block;
}

.footer-navigation li a {
	display: block;
	padding: 20px;
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 1px;
	line-height: 19px;
	transition: background 0.2s;
	-moz-transition: background 0.2s;
	-webkit-transition: background 0.2s;
	-o-transition: background 0.2s;
}

.footer-navigation li a:hover {
	margin-top: 0;
	border-top: 1px solid #ffffff;
	background: rgba(255, 255, 255, 0.1);
}

.go-top {
	float: right;
}
li.go-top a {
	font-size: 22px;
}

/*-----------------------------------------------------------------------------------*/
/*	Color Schemes
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------*/
/*	Blue
/*-----------------------------------------------------------*/

.blue .item-image:before,
.blue .item-image:after,
.blue .item-meta,
.blue .widget-header,
.blue .table-info,
.blue.featured.table-col { background-color: #5b7bb6; }

.blue .item-meta:before,
.blue .table-info:before { border-bottom-color: #5b7bb6; }

.blue .widget-header:after { border-top-color: #5b7bb6; }

.blue .table-title,
.blue.table-col.featured .table-info { color: #5b7bb6; }

.news .item.blue { background-color: #f7faff; }


/*-----------------------------------------------------------*/
/*	Red
/*-----------------------------------------------------------*/

.red .item-image:before,
.red .item-image:after,
.red .item-meta,
.red .widget-header,
.red .table-info,
.red.featured.table-col { background-color: #bc2c18; }

.red .item-meta:before,
.red .table-info:before { border-bottom-color: #bc2c18; }

.red .widget-header:after { border-top-color: #bc2c18; }

.red .table-title,
.red.table-col.featured .table-info { color: #bc2c18; }

.news .item.red { background-color: #fff7f6; }


/*-----------------------------------------------------------*/
/*	Yellow
/*-----------------------------------------------------------*/

.yellow .item-image:before,
.yellow .item-image:after,
.yellow .item-meta,
.yellow .widget-header,
.yellow .table-info,
.yellow.featured.table-col { background-color: #f0c317; }

.yellow .item-meta:before,
.yellow .table-info:before { border-bottom-color: #f0c317; }

.yellow .widget-header:after { border-top-color: #f0c317; }

.yellow .table-title,
.yellow.table-col.featured .table-info { color: #f0c317; }

.news .item.yellow { background-color: #fcf9ee; }

/*-----------------------------------------------------------*/
/*	Light Orange
/*-----------------------------------------------------------*/

.lightorange .item-image:before,
.lightorange .item-image:after,
.lightorange .item-meta,
.lightorange .widget-header,
.lightorange .table-info,
.lightorange.featured.table-col { background-color: #ec9517; }

.lightorange .item-meta:before,
.lightorange .table-info:before { border-bottom-color: #ec9517; }

.lightorange .widget-header:after { border-top-color: #ec9517; }

.lightorange .table-title,
.lightorange.table-col.featured .table-info { color: #ec9517; }

.news .item.lightorange { background-color: #fcf3e5; }

/*-----------------------------------------------------------*/
/*	Purple
/*-----------------------------------------------------------*/

.purple .item-image:before,
.purple .item-image:after,
.purple .item-meta,
.purple .widget-header,
.purple .table-info,
.purple.featured.table-col { background-color: #6a417a; }

.purple .item-meta:before,
.purple .table-info:before { border-bottom-color: #6a417a; }

.purple .widget-header:after { border-top-color: #6a417a; }

.purple .table-title,
.purple.table-col.featured .table-info { color: #6a417a; }

.news .item.purple { background-color: #fcf4ff; }


/*-----------------------------------------------------------*/
/*	Orange
/*-----------------------------------------------------------*/

.orange .item-image:before,
.orange .item-image:after,
.orange .item-meta,
.orange .widget-header,
.orange .table-info,
.orange.featured.table-col { background-color: #F65E13; }

.orange .item-meta:before,
.orange .table-info:before { border-bottom-color: #F65E13; }

.orange .widget-header:after { border-top-color: #F65E13; }

.orange .table-title,
.orange.table-col.featured .table-info { color: #F65E13; }

.news .item.orange { background-color: #fff6f1; }

/*-----------------------------------------------------------------------------------*/
/*	Shortcode
/*-----------------------------------------------------------------------------------*/

.column-margin {
	margin: 12px;
}

.col25,
.col33,
.col50,
.col75 { 
	float: left; 
	font-size: 15px;
}

.col25 p,
.col33 p,
.col50 p,
.col75 p {
	font-size: 15px;
}

.col25{
	width: 25%;
}

.col33{
	width: 33%;
}

.col50{
	width: 50%;
}

.col75{
	width: 75%;
}

.box{
	width: 100%; 
	background: #F65E13; 
	font-size: 15px; 
	color: #fff; 
	padding: 12px 1%; 
	margin-bottom: 40px;
	margin-top: 10px;
}

.box p{
	margin-bottom: 0px;
	width: 85%;
	float: left;
}

.box .button {
	float: right;
	margin-bottom: 0px !important;
}


/*-----------------------------------------------------------*/
/*	Button Styles
/*-----------------------------------------------------------*/

a.button,
a.button:visited {
	display: inline-block;
	color: #fff!important;
	text-decoration: none!important;
	text-align: center;
	font-family: Helvetica, Arial, Sans-serif;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
	font-size: 14px;
	outline: none;
	font-weight: bold;
	line-height: 1em;
	padding: 7px 13px!important;
	cursor: pointer;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 0 rgba(255,255,255,0.4);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 0 rgba(255,255,255,0.4);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 0 rgba(255,255,255,0.4);
	-o-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 0 rgba(255,255,255,0.4);
	border: 1px solid #0d507a!important;
	vertical-align: middle;
	background: #0c6fb1;
	background: -webkit-gradient(linear, left top, left bottom, from(#14a7cf), to(#0c6fb1));
	background: -webkit-linear-gradient(top, #14a7cf, #0c6fb1);
	background: -moz-linear-gradient(top, #14a7cf, #0c6fb1);
	background: -ms-linear-gradient(top, #14a7cf, #0c6fb1);
	background: -o-linear-gradient(top, #14a7cf, #0c6fb1);
}

a.button.square {
	border-radius: 0px!important;
	-webkit-border-radius: 0px!important;
	-moz-border-radius: 0px!important;
	-o-border-radius: 0px!important;
}

a.button.round {
	border-radius: 15px!important;
	-webkit-border-radius: 15px!important;
	-moz-border-radius: 15px!important;
	-o-border-radius: 15px!important;
}

a.button.medium {
	padding: 11px 16px!important;
	font-size: 16px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
}

a.button.large {
	padding: 15px 20px!important;
	font-size: 18px;
	border-radius: 20px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
}

a.button:hover {
	text-decoration: none;
}

a.button:active {
	position: relative;
	top: 1px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.9);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
	-o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
}

a.button.green {
	border-color: #69963b!important;
	background: #7fc33c;
	background: -webkit-gradient(linear, left top, left bottom, from(#5bb75b), to(#7fc33c));
	background: -webkit-linear-gradient(top, #5bb75b, #7fc33c);
	background: -moz-linear-gradient(top, #5bb75b, #7fc33c);
	background: -ms-linear-gradient(top, #5bb75b, #7fc33c);
	background: -o-linear-gradient(top, #5bb75b, #7fc33c);
}

a.button.green:hover {
	background: #8dd242;
	background: -webkit-gradient(linear, left top, left bottom, from(#7fc33c), to(#5bb75b));
	background: -webkit-linear-gradient(top, #7fc33c, #5bb75b);
	background: -moz-linear-gradient(top, #7fc33c, #5bb75b);
	background: -ms-linear-gradient(top, #7fc33c, #5bb75b);
	background: -o-linear-gradient(top, #7fc33c, #5bb75b);
}

a.button.light-blue {
	border-color: #2681a2!important;
	background: #2caada;
	background: -webkit-gradient(linear, left top, left bottom, from(#46cae8), to(#2caada));
	background: -webkit-linear-gradient(top, #46cae8, #2caada);
	background: -moz-linear-gradient(top, #46cae8, #2caada);
	background: -ms-linear-gradient(top, #46cae8, #2caada);
	background: -o-linear-gradient(top, #46cae8, #2caada);
}

a.button.light-blue:hover {
	background: #32bcef;
	background: -webkit-gradient(linear, left top, left bottom, from(#2caada), to(#46cae8));
	background: -webkit-linear-gradient(top, #2caada, #46cae8);
	background: -moz-linear-gradient(top, #2caada, #46cae8);
	background: -ms-linear-gradient(top, #2caada, #46cae8);
	background: -o-linear-gradient(top, #2caada, #46cae8);
}

a.button.blue {
	border-color: #0d507a!important;
	background: #0c6fb1;
	background: -webkit-gradient(linear, left top, left bottom, from(#14a7cf), to(#0c6fb1));
	background: -webkit-linear-gradient(top, #14a7cf, #0c6fb1);
	background: -moz-linear-gradient(top, #14a7cf, #0c6fb1);
	background: -ms-linear-gradient(top, #14a7cf, #0c6fb1);
	background: -o-linear-gradient(top, #14a7cf, #0c6fb1);
}

a.button.blue:hover {
	background: #1188d6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0c6fb1), to(#14a7cf));
	background: -webkit-linear-gradient(top, #0c6fb1, #14a7cf);
	background: -moz-linear-gradient(top, #0c6fb1, #14a7cf);
	background: -ms-linear-gradient(top, #0c6fb1, #14a7cf);
	background: -o-linear-gradient(top, #0c6fb1, #14a7cf);
}

a.button.red {
	border-color: #ab4b44!important;
	background: #9E0D18;
	background: -webkit-gradient(linear, left top, left bottom, from(red), to(#9E0D18));
	background: -webkit-linear-gradient(top, red, #9E0D18);
	background: -moz-linear-gradient(top, red, #9E0D18);
	background: -ms-linear-gradient(top, red, #9E0D18);
	background: -o-linear-gradient(top, red, #9E0D18);
}

a.button.red:hover {
	background: #ff5e56;
	background: -webkit-gradient(linear, left top, left bottom, from(#9E0D18), to(red));
	background: -webkit-linear-gradient(top, #9E0D18, red);
	background: -moz-linear-gradient(top, #9E0D18, red);
	background: -ms-linear-gradient(top, #9E0D18, red);
	background: -o-linear-gradient(top, #9E0D18, red);
}

a.button.orange {
	border-color: #dc9014!important;
	background: #ffb031;
	background: -webkit-gradient(linear, left top, left bottom, from(#ff9900), to(#ffb031));
	background: -webkit-linear-gradient(top, #ff9900, #ffb031);
	background: -moz-linear-gradient(top, #ff9900, #ffb031);
	background: -ms-linear-gradient(top, #ff9900, #ffb031);
	background: -o-linear-gradient(top, #ff9900, #ffb031);
}	

a.button.orange:hover {
	background: #ffc531;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffb031), to(#ff9900));
	background: -webkit-linear-gradient(top, #ffb031, #ff9900);
	background: -moz-linear-gradient(top, #ffb031, #ff9900);
	background: -ms-linear-gradient(top, #ffb031, #ff9900);
	background: -o-linear-gradient(top, #ffb031, #ff9900);
}

a.button.purple {
	border-color: #996192!important;
	background: #d17ac6;
	background: -webkit-gradient(linear, left top, left bottom, from(#e3acdc), to(#d17ac6));
	background: -webkit-linear-gradient(top, #e3acdc, #d17ac6);
	background: -moz-linear-gradient(top, #e3acdc, #d17ac6);
	background: -ms-linear-gradient(top, #e3acdc, #d17ac6);
	background: -o-linear-gradient(top, #e3acdc, #d17ac6);
}

a.button.purple:hover {
	background: #eb90e0;
	background: -webkit-gradient(linear, left top, left bottom, from(#d17ac6), to(#e3acdc));
	background: -webkit-linear-gradient(top, #d17ac6, #e3acdc);background: -moz-linear-gradient(top, #d17ac6, #e3acdc);
	background: -ms-linear-gradient(top, #d17ac6, #e3acdc);
	background: -o-linear-gradient(top, #d17ac6, #e3acdc);
}

a.button.grey {
	color: #555!important;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-color: #acacac!important;
	background: #e0dddd;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e0dddd));
	background: -webkit-linear-gradient(top, #ffffff, #e0dddd);
	background: -moz-linear-gradient(top, #ffffff, #e0dddd);
	background: -ms-linear-gradient(top, #ffffff, #e0dddd);
	background: -o-linear-gradient(top, #ffffff, #e0dddd);
}

a.button.grey:hover {
	background: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, from(#e0dddd), to(#ffffff));
	background: -webkit-linear-gradient(top, #e0dddd, #ffffff);
	background: -moz-linear-gradient(top, #e0dddd, #ffffff);
	background: -ms-linear-gradient(top, #e0dddd, #ffffff);
	background: -o-linear-gradient(top, #e0dddd, #ffffff);
}

a.button.black {
	border-color: #323232!important;
	background: #444444;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444444));
	background: -webkit-linear-gradient(top, #000, #444444);
	background: -moz-linear-gradient(top, #000, #444444);
	background: -ms-linear-gradient(top, #000, #444444);
	background: -o-linear-gradient(top, #000, #444444);
}

a.button.black:hover {
	background: #000000;
	background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#000000));
	background: -webkit-linear-gradient(top, #444444, #000000);
	background: -moz-linear-gradient(top, #444444, #000000);
	background: -ms-linear-gradient(top, #444444, #000000);
	background: -o-linear-gradient(top, #444444, #000000);
}


/*-----------------------------------------------------------*/
/*	Alert
/*-----------------------------------------------------------*/

.alert {
	padding: 0.8em;
	margin: 0 0 1.5em 0;
	line-height: 1.6em;
	border-radius: 4px!important;
	-webkit-border-radius: 4px!important;
	-moz-border-radius: 4px!important;
	-o-border-radius: 4px!important;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.6); 
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.6); 
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.6); 
	-o-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.6);
}

.alert.white {
	background: #fff;
	border: 1px solid #dfdfdf;
	color: #373737;
}

.alert.red {
	background: #F65E13;
	border: 1px solid #F65E13;
	color: #fff;
}

.alert.yellow {
	background: #f18d06;
	border: 1px solid #f18d06;
	color: #fff;
}

.alert.green {
	background: #2eb44b;
	border: 1px solid #2eb44b;
	color: #fff;
}

.alert.blue {
	background: #20a7ff;
	border: 1px solid #20a7ff;
	color: #fff;
}

.alert.grey {
	background: #fbfbfb;
	border: 1px solid #dfdfdf;
	color: #373737;
}


/*-----------------------------------------------------------*/
/*	Tabs
/*-----------------------------------------------------------*/

.tabs li a {
  margin-top: 10px;
  background: #F65E13;
  border: 1px solid #F65E13;
  height: 32px;
  line-height: 31px;
  color: #3b3b3d;
  font-size: 13px;
  padding: 0 14px 0 44px;
  margin:0;
  cursor: pointer;
}

.tabs_table {
	clear: both; margin:12px 0;
}

.tabs {
	padding: 0 0 0 1px !important;
	margin-bottom:-1px !important;
	margin-left:0;
	height: 34px;
}

.tabs li {
  float: left;
  list-style-type: none !important;
  list-style-position: outside !important;
  cursor: pointer;
  white-space: nowrap;
  margin-left: -1px;
  padding: 0 !important;
}

.tabs li a {
  display: block;
  float: left;
  padding-left: 14px;
  background: #F65E13;
  margin: 0;
  color: #fff;
  margin-right: 6px;
}

.tabs li a:hover {
	text-decoration: none;
	background: #f3f3f3;
	color:#444;
}

.tabs li a.selected {
	background: #fff;
	border-bottom: #fff 1px solid; 
	position: relative; color:#F65E13; 
}

.panes { 
	border: 1px solid #F65E13; 
	padding: 17px; 
	line-height: 1.7em;
}


/*-----------------------------------------------------------*/
/*	Toggle content
/*-----------------------------------------------------------*/

.toggle-content {
	background: #F65E13;
	border: 1px solid #F65E13;
	clear: both;
	display: block;
	margin: 10px 0 8px;
	color: #fff;
}

.toggle-content:hover { 
	background: #F65E13;
}

.toggle-content + .toggle-content {
	margin: 0;
}

.toggle-content .expand-button {
	background: url('images/toggle-open.png') left top no-repeat;
	cursor: pointer;
	font-weight: 700;
	overflow: hidden;
	height: 35px;
}

.toggle-content .expand-button.close {
	background: url('images/toggle-close.png') left top no-repeat;
}

.toggle-content .expand-button p {
	line-height: 40px;
	margin: 0;
	padding-left: 40px;
	font-size: 28px;
	padding-top: 5px;
}

.toggle-content .expand {
	margin: 0;
	background: #fff;
	line-height: 160%;
	color: #3b3b3d;
	padding: 20px 20px 20px;
}

.toggle-content .expand {
	display: none;
}

.no-js .toggle-content .expand {
	display: block;
}


/*-----------------------------------------------------------------------------------*/
/*	Responsive Structure
/*-----------------------------------------------------------------------------------*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.item { margin-left: 0; margin-right: 0; }

}



@media (min-width: 767px) {
	.grid_12 .classes.grid .item:nth-child(6n+3) .item-image:after,
	.grid_12 .classes.grid .item:nth-child(6n+2) .item-image:after,
	.grid_12 .classes.grid .item:nth-child(6n+1) .item-image:after,
	.grid_8 .classes.grid .item:nth-child(4n+1) .item-image:after,
	.grid_8 .classes.grid .item:nth-child(4n+2) .item-image:after,
	.grid_4 .classes.grid .item:nth-child(2n+1) .item-image:after { bottom: -100px; top: auto; }

	.grid_12 .classes.grid .item:nth-child(6n+1) .item-image:before,
	.grid_12 .classes.grid .item:nth-child(6n+2) .item-image:before,
	.grid_12 .classes.grid .item:nth-child(6n+3) .item-image:before,
	.grid_8 .classes.grid .item:nth-child(4n+1) .item-image:before,
	.grid_8 .classes.grid .item:nth-child(4n+2) .item-image:before,
	.grid_4 .classes.grid .item:nth-child(2n+1) .item-image:before { bottom: auto; top: -100px; }

	.grid_12 .classes.grid .item:nth-child(6n+1) .item-image h3,
	.grid_12 .classes.grid .item:nth-child(6n+2) .item-image h3,
	.grid_12 .classes.grid .item:nth-child(6n+3) .item-image h3,
	.grid_8 .classes.grid .item:nth-child(4n+1) .item-image h3,
	.grid_8 .classes.grid .item:nth-child(4n+2) .item-image h3,
	.grid_4 .classes.grid .item:nth-child(2n+1) .item-image h3 { text-align: left; }
}



@media only screen and (min-width: 962px) and (max-width: 1220px) {
	.meta-info.comments-counter,
	.meta-info.news-tags,
	.meta-info.class-trainer { display: none; }

	/* Responsive Posts Zig-Zag */
	.item-image:after,
	.item-image:before { width: 170px; height: 170px; }

	.list .item-image:before, 
	.list .item-image:after,
	.single .item-image:before, 
	.single .item-image:after { width: 350px; height: 350px; }

	.flex-caption {top: 15%;}
	.site-header {position: relative;}
	.flexslider.loading {min-height: 400px;	}
	.pday {width: 80px;}
}



@media only screen and (min-width: 767px) and (max-width: 962px) {
	.meta-info.comments-count { display: none; }

	/* Responsive Posts Zig-Zag */
	.item-image:after,
	.item-image:before { width: 155px; height: 155px; }

	.list .item-image:before, 
	.list .item-image:after,
	.single .item-image:before, 
	.single .item-image:after { width: 310px; height: 310px; }

	.classes.list .overlay, 
	.classes.single .overlay { background-image: none; }

	.meta-info.class-facebook,
	.meta-info.class-twitter,
	.meta-info.class-trainer,
	.meta-info.news-tags { display: none; }

	.comment .children { margin: 0 0 0 20px; }
	.flex-content p { display: none; }
	.flex-direction-nav { display: none; }
	.flexslider{ padding-top: 100px; }

	.table-col { width: 50%; }
	.site-header {position: relative;}
	.flex-caption {top: 15%;}

	.flexslider.loading { min-height: 300px;}
	.pday {width: 60px;}
	.col25{	width: 100%;}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.classes.grid .item { margin-left: 0; margin-right: 0; }

	
	/* Responsive Posts Zig-Zag */
	.item-image:after,
	.item-image:before { width: 190px; height: 190px; }

	.classes.grid .item:nth-child(2n+1) .item-image:after { bottom: -100px; top: auto; }
	.classes.grid .item:nth-child(2n+1) .item-image:before { bottom: auto; top: -100px; }
	.classes.grid .item:nth-child(2n+1) .item-image h3 { text-align: left; }

	.list .item-image:before, 
	.list .item-image:after,
	.single .item-image:before, 
	.single .item-image:after { width: 330px; height: 330px; }

	.classes.list .overlay, 
	.classes.single .overlay { background-image: none; }

	.meta-info.class-facebook,
	.meta-info.class-twitter,
	.meta-info.class-trainer,
	.meta-info.news-author,
	.meta-info.news-tags{ display: none; }

	.comment .children { margin: 0 0 0 20px; }
	
	.site-header {position: relative;}
	.flex-caption {top: 15%;}


	.flex-caption { display: none; }
	.flex-content p { display: none; }
	.flex-direction-nav { display: none; }

	.site-header .lang { text-align: center; }

	.table-col { width: 50%; }

	.post-navigation { display: none!important; }

	.announcement { text-align: center; }
	.announcement a.btn { float: none; }
	
	.classes.list .item-meta, .classes.single .item-meta { position: relative; }
	.flexslider.loading { min-height: 300px; }
	.pday {width: 54px; }
	.col25, .col33, .col50, .col75{ width: 100%;}

}


@media only screen and (min-width: 320px) and (max-width: 480px) {

	.classes.grid .item { margin-left: 0; margin-right: 0; }

	/* Responsive Posts Zig-Zag */
	.item-image:after,
	.item-image:before { width: 170px; height: 170px; }

	.classes.grid .item:nth-child(2n+1) .item-image:after { bottom: -100px; top: auto; }
	.classes.grid .item:nth-child(2n+1) .item-image:before { bottom: auto; top: -100px; }
	.classes.grid .item:nth-child(2n+1) .item-image h3 { text-align: left; }

	.list .item-image:before, 
	.list .item-image:after,
	.single .item-image:before, 
	.single .item-image:after { width: 300px; height: 300px; }

	.classes.list .overlay, 
	.classes.single .overlay { background-image: none; }


	.classes.list .item-meta, 
	.classes.single .item-meta { position: relative; }
	.meta-info.class-join,
	.meta-info.class-certificate,
	.meta-info.class-facebook,
	.meta-info.class-twitter,
	.meta-info.class-classes,
	.meta-info.class-trainer,
	.meta-info.class-level,
	.meta-info.news-author,
	.meta-info.comments-counter,
	.meta-info.news-tags { display: none; }

	.comment .children { margin: 0 0 0 10px; }
	.comment .says { display: none; }

	
	.site-header {position: relative;}
	.flex-caption {top: 15%;}


	.flex-caption { display: none; }
	.flex-direction-nav { display: none; }

	.site-header .lang { display: none; }

	.table-col { width: 100%; }

	.post-navigation { display: none!important; }

	.announcement { text-align: center; }
	.announcement a.btn { float: none; }

	.testimonials .flex-control-paging { top: 200px; }

	.flexslider.loading { min-height: 205px; }
	.title-404{	font-size: 142px; margin-top: 50px;	}
	.description-404 { margin-bottom: 100px; }
	.progday {width: 100%; margin-bottom: 20px;}
	.pday{width: 100%;}
	.col25, .col33, .col50, .col75{ width: 100%;}
}



@media (max-width: 320px) {

}
/*-----------------------------------------------------------------------------------*/
/*	Print
/*-----------------------------------------------------------------------------------*/

@media print {}

table {
	max-width: 100%;
}

th {
	text-align: left;
}

.table {
	width: 100%;
	margin-bottom: 20px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	padding: 8px;
	line-height: 1.428571429;
	vertical-align: top;
	border-top: 1px solid #ddd;
}

.table > thead > tr > th {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
	border-top: 0;
}

.table > tbody + tbody {
	border-top: 2px solid #ddd;
}

.table .table {
	background-color: #fff;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
	padding: 5px;
}

.table-bordered {
	border: 1px solid #ddd;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
	border: 1px solid #ddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
	border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
	background-color: #eaeaea;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
	background-color: #f5f5f5;
}
.modal-open{overflow:hidden}
.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0}
.modal.fade .modal-dialog{-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out;-webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);-o-transform:translate(0,-25%);transform:translate(0,-25%)}
.modal.in .modal-dialog{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0)}
.modal-open .modal{overflow-x:hidden;overflow-y:auto}
.modal-dialog{position:relative;width:auto;margin:10px}
.modal-content{position:relative;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:6px;outline:0;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5)}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}
.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0}
.modal-backdrop.in{filter:alpha(opacity=50);opacity:.5}
.modal-header{padding:15px;border-bottom:1px solid #e5e5e5}
.modal-header .close{margin-top:-2px}
.modal-title{margin:0;line-height:1.42857143}
.modal-body{position:relative;padding:15px}
.modal-footer{padding:15px;text-align:right;border-top:1px solid #e5e5e5}
.modal-footer .btn+.btn{margin-bottom:0;margin-left:5px}
.modal-footer .btn-group .btn+.btn{margin-left:-1px}
.modal-footer .btn-block+.btn-block{margin-left:0}
.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}@media (min-width:768px){
.modal-dialog{width:600px;margin:30px auto}
.modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5)}
.modal-sm{width:300px}}@media (min-width:992px){.modal-lg{width:900px}}
.close,.alert-dismissible .close{position:relative;top:-2px;right:-21px;color:inherit}
.close{float:right;font-size:21px;font-weight:700;line-height:1;color:#000;text-shadow:0 1px 0 #fff;filter:alpha(opacity=20);opacity:.2}
.close:focus,.close:hover{color:#000;text-decoration:none;cursor:pointer;filter:alpha(opacity=50);opacity:.5}
button.close{-webkit-appearance:none;padding:0;cursor:pointer;background:0 0;border:0}